 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}


html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

}

nav { /*buong nav */   
  background: white;
  display: block;
  justify-content: space-between;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  cursor: pointer;
  border-top: 5px solid #94279c;
 
}

 nav ul { /* nav bar */     
  position: static;
  flex: 1;
  padding-top:1%;
  text-align: center;
  margin-top: -40px;
  padding-bottom:2%;
  
  
}

nav ul li { /* nav bar txt */
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: static;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a{ /* txt styling color&font */
  color: black;
}

/* dinadag para sa hover */
nav ul li a.active,a:hover {
 color: #94279c;
 transition: 0.2s; /*transition time*/
}

nav img{ /*nav bar logo */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  
}

/* first div*/
.abt {
  position:absolute;
  top:170px;
  height:850px;
  width:100%; 
  background-color: #2f2f2f; /*try, pag may pic na pede na re tanggalin*/
}

.title {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #8454b0;
}
.container {
  position: center;
  width:100%;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

}

.accordion {
  position: center;
  width: 100px;
  margin-left: 1px;
}

.content-accordion {
  margin-top: 35px;
  margin-left: 15%;

}

.question-answer {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}


.question {
  display: inherit;
  justify-content: space-between;
}

.accordion-img {
  position: inherit;
}
.title-question {
  margin: 1.4rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #94279c;
  font-family: 'Inter', sans-serif;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.up-icon {
  display: none;
}

.answer {
  font-size: 16px;
  line-height: 1.8;
  display: none;
  font-family: 'Inter', sans-serif;
}

.show-text .answer {
  display: block;
}

.show-text .up-icon {
  display: inline;
}

.show-text .down-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .accordion {
    width: 920px;
    height: 0;
    display: flex;
  }

  .accordion-img {
    display: flex;
    position: relative;
    width: 800px;
    top: 80px;
  }

  .question-answer {
    width: 380px;
  }

  .content-accordion {
    position: center;
    margin-top: 85px;
  }




  /*footer*/
 footer {
  background:black ;
  height:auto;
  color: white;
  margin-top:870px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
}

.footer-content p {
  color: white;
  font-family: 'Inter', sans-serif;
}

.navfooter{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
}

.navfooter li{
  margin: 5px;
  border-right: 1px white solid;
  padding: 0 10px;
  float: left;
}

.navfooter a{
  color:white;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.navfooter a:hover{
 color: #94279c;
 transition: 0.2s; /*transition time*/
}

.navfooter li:last-child {
  border-right: none;
}

.footer-top{
  background: #94279c;
  padding: 2px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.footer-bottom{
  background: #94279c;
  padding: 8px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.footer-bottom span{
  text-transform: uppercase;
   color: #00C2FF;
}
